.login-pf body {
    background: #5677b7 url("../bg.png") no-repeat center bottom fixed;
    background-size: contain;
}

#kc-header {
    color: #ededed;
}

#kc-header-wrapper {
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: #ededed;
    background: #2e4c86;
}

.login-guide-button {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    background-color: #bfd5ff;
    font-weight: 650;
    transition: linear 0.15s background-color;
}

.login-guide-button:hover {
    color: #fff !important;
    background-color: #363d88;
}
